[2014-09-12 21:28] basicallydan opened #1 "Allow auth to be used in forkability()"

[2014-09-12 21:28] basicallydan opened #2 "Allow login with github on the page"

[2014-09-12 21:34] basicallydan opened #3 "[Lint Recommendation] Travis or other CI"

[2014-09-12 21:34] basicallydan opened #4 "[Lint Recommendation] A test or spec directory"

[2014-09-12 21:37] basicallydan opened #5 "[Lint Recommendation] An examples directory??"

[2014-09-13 21:47] basicallydan opened #6 "Allow basic auth"

[2014-09-13 21:47] basicallydan opened #7 "Allow an oauth token"

[2014-09-13 21:47] #6 closed, assigned to nobody

[2014-09-14 09:35] #7 closed, assigned to nobody

[2014-09-14 09:44] basicallydan opened #8 "Get bootstrap and font awesome and http://lipis.github.io/bootstrap-social/ onto the pages branch"

[2014-09-14 18:22] basicallydan opened #9 "Make file checks more forgiving about extension"

[2014-09-15 08:56] basicallydan opened #10 "[Pages] Option to store your search in GetAPI for others to see"

[2014-09-15 08:57] basicallydan opened #11 "[Pages] Recent tests + results"

[2014-09-16 07:32] #1 closed, assigned to nobody

[2014-09-16 07:32] #2 closed, assigned to nobody

[2014-09-16 07:32] #8 closed, assigned to nobody

[2014-09-16 07:32] #9 closed, assigned to nobody

[2014-09-16 07:33] basicallydan opened #12 "For app.test.js the linters should be mocked"

[2014-09-16 07:42] basicallydan opened #13 "Make a nice little note about the scope for the GitHub API when signing in"

[2014-09-16 07:42] basicallydan opened #14 "DO NOT get 'user' scope, it is not necessary."

[2014-09-16 08:32] basicallydan opened #15 "For missing features, have an explanation of why they're good"

[2014-09-17 19:16] basicallydan opened #16 "Change 'Congrats' to something more representative"

[2014-09-17 20:09] #16 closed, assigned to nobody

[2014-09-26 17:55] #12 closed, assigned to nobody

[2014-09-29 22:04] basicallydan opened #17 "Help users by autocompleting their repo name"

[2014-09-30 11:08] basicallydan opened #18 "Show the user which repo they are looking at"

[2014-09-30 11:09] basicallydan opened #19 "Make the back button do what people would expect it to do"

[2014-09-30 12:55] #18 closed, assigned to nobody

[2014-09-30 13:21] #17 closed, assigned to nobody

[2014-09-30 13:21] #19 closed, assigned to nobody

[2014-09-30 13:32] #13 closed, assigned to nobody

[2014-09-30 13:32] basicallydan opened #20 "COPYING for Licence"

[2014-10-04 02:33] kirang89 opened #21 "Scaling project for different languages"
Perhaps, a better way to scale forkability for different languages would be to include a  `--lang <language name>` option in the CLI interface. You could maintain a configuration directory which contains the list of files to look for in a repo based on the language.

Thoughts ?

[2014-10-08 14:11] #14 closed, assigned to nobody

[2014-10-08 14:13] #20 closed, assigned to nobody

[2014-10-09 14:33] #4 closed, assigned to nobody

[2014-10-09 15:34] #5 closed, assigned to nobody

[2014-10-10 07:18] basicallydan opened #22 "JSON and Pretty JSON outpit"
This might be useful for some CIs.

[2014-10-10 09:27] #22 closed, assigned to basicallydan

[2014-10-10 09:28] basicallydan opened #23 "Report should use features rather than files and passes/failures rather than present/missing"

[2014-10-10 10:08] #23 closed, assigned to nobody

[2014-10-11 14:31] basicallydan opened #26 "The warnings and suggestions should be conflated"

[2014-10-11 14:33] basicallydan opened #27 "Objects, rather than strings, should be returned in the arrays"

[2014-10-11 14:33] #21 closed, assigned to nobody

[2014-10-11 16:38] #26 closed, assigned to basicallydan

[2014-10-11 17:19] #27 closed, assigned to basicallydan

[2014-10-11 17:19] #3 closed, assigned to nobody

[2014-10-11 17:22] basicallydan opened #28 "Show a loader while a repo is being loaded"

[2014-10-11 17:28] #28 closed, assigned to nobody

[2014-10-11 18:15] basicallydan opened #29 "Finish contributing.md"

[2014-10-11 21:13] #29 closed, assigned to nobody

[2014-10-12 08:32] keithamus opened #30 "Check for version tags"
A good indicator of a well maintained open source project is the existence of Tags (or Releases). Some systems rely on existence of these (such as Bower), and while others use a separate system (Node) it can be incredibly useful for developers looking at a project to see tags for each available release.

IMO there are two ways of validating tags: generally, and language based.
### Generally

Check

[2014-10-13 23:40] ethel-dev opened #31 "More Suggestions and Explanations"
I think you should add more explanations as to what a Test Suite is?

[2014-10-15 15:53] #11 closed, assigned to nobody

[2014-10-15 15:53] #15 closed, assigned to nobody

[2014-12-02 22:59] hpoom opened #32 "Change the way suggestions are displayed"
As suggested in issue #31 I think we should move away from a popup and instead expand out the warnings that appear to show more information on the warning.

[2014-12-07 10:40] M-Zuber opened #36 "c# support"
I have started to work on implementation for c# support.
Input into to what should be checked would be greatly appreciated

[2014-12-11 10:25] matiassingers opened #40 "No *.pyc files for Python projects"
Before I created a PR, I just wanted to hear peoples opinion on this.

It's generally accepted as common practice not to have `*.pyc` inc VCS.

[2014-12-11 10:57] M-Zuber opened #41 "Linter for files in gitignore"
This was first raised in #39
The idea is to add a `gitignore` field to the language object that will contain the files that are supposed to be not pushed to the repo due the fact that are in the `.gitignore` file

[code]

Then there would be a separate linter to perform the checks

[2015-01-15 15:47] M-Zuber opened #44 "Lint for test suite not working"
If I run `forkability` on [this repo of mine](https://github.com/M-Zuber/VirtualGabbai) repo ( -see [here](http://basicallydan.github.io/forkability/?u=M-Zuber&r=VirtualGabbai&l=csharp)), it gives me a fail on my test suite. Even though one exists [here](https://github.com/M-Zuber/VirtualGabbai/tree/master/VirtGabbai/Unit%20Tests).
Is it a nesting problem?

[2015-01-15 15:48] basicallydan commented on #44
Huh. Yeah, I think it is. Maybe there should be an option to search a certain depth for certain things.

Good spot!

[2015-01-15 15:50] M-Zuber commented on #44
Somewhat embarrassingly, it seems the check I added for a `.csproj` file is also failing for some odd reason.... :flushed:

[2015-01-15 15:54] basicallydan commented on #44
Hahah! Well, same problem I guess! No need to be embarasse!

--Dan
danhough.com <http://www.danhough.com> - @basicallydan
<http://twitter.com/basicallydan>

On 15 January 2015 at 15:50, Mordechai Zuber <notifications@github.com>
wrote:

[2015-01-25 15:37] M-Zuber commented on #44
So after digging a little it seems that the code is correct (see #45 for example).
The problem is the that the following is returned from the call to this github api hook https://api.github.com/repos/m-zuber/VirtualGabbai/git/trees/dd0400997913a3e988c5a9dfb0e05dc074687b6c

[code]

[2015-01-25 15:38] M-Zuber commented on #44
After following the links in each item in the results, it keeps digging deeper. And then you can get to nested items.
Although this doesn't explain why it works in test and not real...

[2015-01-28 15:23] basicallydan commented on #44
@M-Zuber I think I'll have to try and reproduce this later. Very strange indeed =\

[2015-01-28 15:30] M-Zuber commented on #44
I have a theory why it works in the tests.
Since we are mocking the `sha` with individual parts of the tree, even nested items are showing up on the same level.

So a fix would have to include fixes to the mocking system.

[2015-01-28 15:32] basicallydan commented on #44
Aha! Yeah I bet that's it! Right. I'll see what I can do. Once that's sorted it should be easier to figure out why it's not working in real life.

[2015-01-29 21:44] M-Zuber commented on #44
So..... a small complication.
While working on a fix, I realized that there has to be a check that if something passes, it should not also fail.
Meaning -if at the upper level of a `c#` project there is a `Readme` - that is a pass. But when we drill in a level to find the `.csproj`, on the second pass there is no `Readme`.
Solutions?

[2015-01-30 10:01] basicallydan commented on #44
Good spot. My first instinct is this: The `passes` and `failures` arrays in `lintFiles` might need to be passed around into the recursive checks. What do you think?

[2015-02-01 11:09] basicallydan commented on #44
Ugh, okay, this is a tough one, might require a bit of restructuring. I think the best solution is to do the following:

1. In `app.js`, allow a `treeDepth` option to be passed to forkability
2. When the tree is being downloaded, use `treeDepth` to recursively make requests to all the `type === 'tree'` items, and populate a `tree` property on each item with whatever the response from the API is
3.

[2015-02-01 11:15] M-Zuber commented on #44
The architecture sounds right. I'll put something here if I start working on it

[2015-02-01 11:22] M-Zuber commented on #44
As far as overriding of passes/failures, I think it will be easier to come up with a proper solution once the linting is more concrete

[2015-02-01 11:22] basicallydan commented on #44
:thumbsup: Coolio!

--Dan
danhough.com <http://www.danhough.com> - @basicallydan
<http://twitter.com/basicallydan>

On 1 February 2015 at 11:15, Mordechai Zuber <notifications@github.com>
wrote:

[2015-02-02 04:45] M-Zuber commented on #44
I've started to try and fix this. I might even be close to a working solution.

[2015-02-02 09:07] basicallydan commented on #44
Wow, amazing! Nice one, thanks for picking it up so fast!

--Dan
danhough.com <http://www.danhough.com> - @basicallydan
<http://twitter.com/basicallydan>

On 2 February 2015 at 04:45, Mordechai Zuber <notifications@github.com>
wrote:

[2015-02-02 14:57] M-Zuber commented on #44
See #46.

There is still more testing that I plan on doing. I will let you know when I think it is tested enough

[2015-02-03 11:34] M-Zuber commented on #44
This
[code]
forces the `readme` to be at the top level.
Comments?

[2015-02-03 11:52] basicallydan commented on #44
Hmm, I think that it makes sense to insist that there is a readme at the top level. If there wasn't, then it wouldn't give the viewer/reader/contributor/whatever immediate information about the repository. What do you think?

[2015-02-03 14:40] M-Zuber commented on #44
It sounds correct to me.
The only question is, do we allow adding a setting similar to `shouldExist` -or is it dependent on the `regular expression`?

I personally feel that it should depend on the `regex`.

[2015-02-04 18:12] M-Zuber commented on #44
I think I finished the file linting at a depth. See #46.

[2015-03-08 20:27] M-Zuber commented on #44
Closing due to success of #47

[2015-03-08 20:27] #44 closed

[2015-03-09 11:24] basicallydan commented on #44
@M-Zuber Thanks for doing this closing of stuff!

[2015-04-13 13:57] M-Zuber commented on #36
The `.csproj` file requirement is going to be a slight difficulty due to `Asp.Net 5` wherein the file doesn't exist.
Maybe we should consider adding `suggested features`?

[2015-04-28 18:36] basicallydan commented on #36
@M-Zuber Oh dear! Hmm. Could do. I guess there's no way to detect if it's .Net 5 or .Net 4?

[2015-04-28 19:26] M-Zuber commented on #36
I'm not sure. I have not started using the `.Net 5` yet myself, but I did [this](https://twitter.com/mordzuber/status/593134047171190784), lets see what happens.

[2015-05-19 15:18] M-Zuber commented on #36
While I never got a reply I believe that it has been replaced completely by `project.json`.
The question then becomes how do we allow - for one key - a set of values that if any one of them is a match then we are good to go?

[2015-05-19 16:37] basicallydan commented on #36
Hey @mzuber! I was talking to someone from my old company about these
changes the other night and I thought about this issue - but yeah! It works!

The way we do it is that the value can be a regular expression. For
example, for checking for a licence:

[code]

--Dan
danhough.com <http://www.danhough.com> - @basicallydan
<http://twitter.com/basicallydan>

On 19 May 2015 at 16:18, Mordechai Zuber <

[2015-05-20 09:43] M-Zuber opened #49 "Update c# linter to support dnx projects"
`dnx` projects don't have a `.csproj` file. Instead they use `project.json`.
The rule needs to be updated.

[2015-05-20 09:53] M-Zuber commented on #36
took care of that one see #50

[2015-05-20 10:00] #49 closed

[2015-06-22 14:00] M-Zuber opened #52 ".gitignore changes to due personal work space choices"
I have started working on this using `vs code`. It has added typings files and ect to the project.
Should I change the .gitignore or rely on myself to pay attention manually?

[2015-06-22 14:11] basicallydan commented on #52
Yeah defo change the gitignore if that's the case!

I think it might be a good idea to make you a collaborator on the github project if you want, since you seem to have a pretty good idea of goals by now and seem to enjoy writing tests enough :) what do you think?

[2015-06-22 14:29] M-Zuber commented on #52
Sounds awesome. Thank you!
Do you want to define privileges/obligations first?

[2015-07-29 11:34] basicallydan commented on #52
@M-Zuber Sorry this took so long. Hah, been either preparing to move country, moving, or being on holiday! Crazy times!

Anyway, let's see. I think by now you get the main goals of the project, but in case it needs clarifying it's [here in the readme](https://github.com/basicallydan/forkability#long-term-goals-of-this-project). I think that's all that needs to be said really, any changes which you

[2015-07-29 11:41] M-Zuber commented on #52
Sounds cool. I am assuming the main location for discussion would be `gitter`?

[2015-07-29 12:10] #52 closed

[2015-07-29 13:19] M-Zuber commented on #41
I merged #51.

Is that what we want and this is done, or do we want to upgrade it to download and parse the `.gitignore` in the project?

Thoughts on that:
- Part of the defaults is making sure that the `.gitignore` exists in the first place.
- Is there such a thing as having multiple `.gitignore` files in one repo?

[2015-07-29 13:54] basicallydan commented on #41
Ooh. That would be good, but would it break the web interface? Argh. Hmm. The web interface is pretty cool, I love the fact that it works in the browser or on the command line. Does GitHub possibly give access to `.gitignore` files through CORS JavaScript requests?

[2015-07-29 13:56] basicallydan commented on #52
Right you are!

[2015-07-29 13:57] basicallydan commented on #52
Oh, well, it depends on the thing. For little convos yeah, but if we're talking new features and major bugs lets talk on GitHub in the appropriate issue/PR :)

[2015-07-29 14:08] M-Zuber commented on #41
I'll look into the api, and test it out.  Definitely agree that we can't break the web

[2015-07-30 08:02] basicallydan commented on #41
Cool! Let me know when you get to it, if I get some time sooner then I'll do it :)

[2015-07-30 08:17] M-Zuber commented on #41
[CORS resource sharing](https://developer.github.com/v3/#cross-origin-resource-sharing)
[Downloading a file](https://developer.github.com/v3/repos/contents/)
These look like the main resources that need to be investigated. In addition I sent an email to a GitHubber I've interacted with in the past to get feedback on the concept of downloading the `.gitignore`

I am starting to think that it does n

[2015-08-01 00:24] basicallydan commented on #41
I like the idea of using the GitHub API to get the gitignore templates because it helps us to suggest what people *probably* shouldn't have in the repo. But this may change quite a bit for every project, so it may not be such a popular idea.

Worth a try, though, I think. We can always have a "don't use gitignore" flag. We'd have to use pretty much the exact same algorithm as git to make this work

[2015-08-02 07:41] M-Zuber commented on #41
Your first point is something that I have been trying to come up with a good solution for.
One possibility is (in the not so near future) to update the web interface - not sure how to deal with the CLI - to have a picker for the ruleset, where the user can choose exactly what they want.
Because, the same way not every project follows the `.gitignore` template exactly - they may also not want to be

[2015-08-02 07:42] M-Zuber commented on #41
As far as the algorithm goes, I am not sure.
Is the algorithm used by git available?

[2015-08-03 00:02] basicallydan commented on #41
A quick Google search doesn't bring anything up, but I don't think it'd be too hard to come up with a simple version. Most rules would be a matter of checking for existence using node's native filesystem stuff, and in some instances we'd wanna be recursive.

As for making things optional, index.js already has some code in there for CLI stuff, so perhaps just adding a new flag for each linter would

[2015-08-04 10:05] M-Zuber opened #53 "Badge for forkability.io"
Creating a badge will allow repo owners to indicate their forkability score in the README

[2015-08-04 10:24] M-Zuber commented on #53
[Also opened this] (https://github.com/badges/shields/issues/502)

[2015-08-05 06:57] M-Zuber commented on #41
I've been speaking to someone from github who works with the `.gitignore` template repo.
He gave a sketch for a flow to use where we to go with the option of using the users `.gitignore`, still waiting for feedback on just using the defaults.

In the meantime, I think I want to start with taking the information from the defaults.
I'll write a standalone tool - probably only going to be useful for

[2015-08-05 06:58] M-Zuber commented on #41
So I don't really know that part of the codebase to well yet. But it sounds like its easy enough to go either way, that we can leave this decision until everything else is implemented?

[2015-08-05 13:39] basicallydan commented on #41
Let's just stick with using name repos for now, don't want too much bureaucracy just yet.

Well presumably it'd have to be JS unless you wanna put some binaries of other things into the repo, right?

I figured that however the gitignore defaults thing works it'd be used as a module which simply retrieves gitignore defaults and then works in a similar way to the `lintFiles` linter. Does that make s

[2015-08-06 04:31] M-Zuber commented on #41
I actually was thinking of having a tool that is run every now and then, not in relation to forkability's actual code in order to do set up

For example a c# .exe that can be set to run once a day/week that will update given files in the forkabilty repo. This way, during runtime no additional web calls have to be made
What do you think?

That is pretty much what happens now:
[code]
and in a langua

[2015-08-18 22:35] montanaflynn opened #54 "Spelling of license"
Hello, thanks for the cool project :trophy:

When I ran my project I noticed what I thought was a typo: "licence". I was going to submit a PR but since I found 50+ spelling occurrences I did a little research it appears this is the British spelling (along with Canada, New Zealand and some other countries) but not the common spelling used on GitHub, including forkability's own `LICENSE` file.  I wo

[2015-08-18 22:39] montanaflynn opened #55 "OAuth login"
In the README.md it mentions the following:

However I had no issue running my public projects without logging in. Is the requirement for running private repos? Is it a legacy requirement?

[2015-08-18 23:28] basicallydan commented on #55
Hi Montana thanks for bringing this up.

You're right that it isn't a requirement for forkability in general. It *is* a requirement for private repos, but you'll also be given autocomplete when you log in.

So, the wording is incorrect, basically :) I can fix that!

[2015-08-18 23:39] basicallydan commented on #54
Hello, and thanks!

Good spot! Consistency is probably preferable in this case, I agree. Although it'd be cool to reflect what the repo contains in case it *does* use the British spelling.

I'll try and get round to that in a few hours, I have some appointments but if you get there sooner feel free to raise a PR. In case you haven't already been looking into it you wanna look in `lintFiles.js`.

C

[2015-08-19 11:28] basicallydan commented on #53
Okay, I really wanna do this today based on the conclusion of the conversation in that thread, but #54 and #55 are easier and I'm sleepy so they are now priority!

[2015-08-19 11:46] basicallydan commented on #55
@montanaflynn I made a mistake this morning when I said that: that's not the reason. Sorry, it's been a while since I touched that code. It is just in fact a legacy requirement.

I did also notice that the oauth is a liiiittle bit broken right now. Something's wrong with the oauth auth server I built for GitHub login to work. So now I gotta fix that.

Anyway, I'll sort out that readme now.

[2015-08-19 11:54] basicallydan commented on #55
Alrighty then, done!

[2015-08-19 11:54] #55 closed

[2015-08-19 11:54] basicallydan commented on #54
I have changed the spelling from one correct variety to another correct variety :+1:

[2015-08-19 11:54] #54 closed

[2015-08-20 08:23] M-Zuber commented on #53
Do you still want to take it? I'm guessing it's a simple if positives are more then 90% of results we generate green otherwise nothing for starters?

[2015-08-20 09:03] basicallydan commented on #53
Yeah I agree. I'd like to do this, yeah ^^ Tonight. Just had some bad news
about a visa and I'm looking forward to some furious programming when I'm
finished with the day's chores :P

--Dan
danhough.com <http://www.danhough.com> - @basicallydan
<http://twitter.com/basicallydan>

On 20 August 2015 at 17:23, Mordechai Zuber <notifications@github.com>
wrote:

[2015-08-20 09:04] M-Zuber commented on #53
visas suck :(
Good luck with the chores :grinning:

[2015-08-26 12:57] basicallydan commented on #53
Just realised the URL generated for the badge doesn't link to the correct page - it doesn't include language!

[2015-08-26 13:12] #53 closed

[2015-09-01 14:30] Kwpolska opened #57 "“Uncommented issue” is not always a problem"
The maintainers might create issues to track their task, as a to-do list.

[2015-09-01 14:33] abderraouf-adjal opened #58 "License auto detection in the README file"
Hello,
I suggest auto detection for the license in the README file.

[2015-09-01 15:19] basicallydan commented on #57
Agreed! In fact, with this in mind I originally set up the code so that if the user who opened the issue is the same as the user who owns the repo, it won't count as a problem. I think in 90% of cases, the to-do list use case will be fine. For instance, [this uncommented issue](https://github.com/basicallydan/forkability/issues/10) does not show up as a problem with Forkability because I created i

[2015-09-01 15:20] basicallydan commented on #58
Ooh I like it! Yes! Very good idea.

We could store a list of all the main licences and search the readme for the text. Or we could simply look for the word "licence". Thoughts? Any more ideas?

[2015-09-01 15:35] Kwpolska commented on #57
Do it.

--
Chris Warrick <https://chriswarrick.com/>
Sent from my Galaxy S3.
On 1 Sep 2015 5:19 pm, "Daniel Hough" <notifications@github.com> wrote:

[2015-09-01 15:38] abderraouf-adjal commented on #58
Searching word `License` & `Copyright` in `README` or `README.md` or `README.txt` headlines...

[2015-09-02 04:43] M-Zuber opened #59 "User comparison should be lowercase"
see [here](https://www.reddit.com/r/opensource/comments/3j7n5q/is_your_github_repository_welcoming_to_newcomers/cun4fkl).

Related to #57

Places to fix:
- [line 5](https://github.com/basicallydan/forkability/blob/11519b2c390b520987e47607bc34ceb0bafa4628/lib/lintIssues.js#L5)
- [line 16](https://github.com/basicallydan/forkability/blob/11519b2c390b520987e47607bc34ceb0bafa4628/lib/lintIssues.js#L16

[2015-09-02 15:25] basicallydan commented on #59
Not in anywhere that the user is concerned, nope - I can't find anything, anyway.

[2015-09-10 13:37] Alshie commented on #59
Hello,

I've submitted a pull request for this. First time I have ever been through this process so hopefully I have done correctly.

[2015-09-10 13:47] M-Zuber commented on #59
So far you are doing great. :smile:
I left you some feedback back at the PR

[2015-09-10 15:09] #59 closed

[2015-11-16 08:36] M-Zuber commented on #30
ping

[2015-11-16 09:45] basicallydan commented on #30
pong

@M-Zuber This is over a year old! Okay, so I guess the thing to do here is to check that for NodeJS projects, the tags are in NPM and in the repo. Agreed?

[2015-11-16 11:51] M-Zuber commented on #30
Sounds right,  but we first have to check that the project is in npm.
We treat every js project as NodeJs project. But that does not say anything about it being on npm.

[2015-11-16 11:52] M-Zuber commented on #36
I think we can close this, if other c# related things come up they can go in a new issue

[2015-11-16 11:52] #36 closed

[2015-11-16 11:56] M-Zuber opened #61 "JavaScript projects"
We currently treat projects written in JavaScript as NodeJs  based projects.
That does not cover all the cases. One example being front end projects that rely on Bower.

The way I see things,  we should just change `node` to be `javascript` and lump everything together.

So that leaves us with two things:
- rename node to javascript
- ads rules related to Bower,  ect

[2015-11-16 11:57] M-Zuber opened #62 "Projects with multiple languages"
What is the current behavior for a project with multiple languages?
What is the desired behavior?

[2015-11-16 17:42] basicallydan commented on #62
At the moment you choose a primary language, and it bases the whole thing
on that. I think that's probably a good behaviour for now tbh. Does it make
sense to judge a project by multiple different standards? I don't think
it'd hurt and we could just run the linter multiple times to do it.

I wonder if this is a problem many people have - have you come across it?
On 16 Nov 2015 18:57, "Mordechai Zu

[2015-11-16 17:43] basicallydan commented on #30
Ah true. Probably straightforward though, just check if the URL is 404 or
not. Or maybe NPM has an api for this.

And then if the project is not on NPM, it doesn't get checked for this -
just git tags.
On 16 Nov 2015 18:51, "Mordechai Zuber" <notifications@github.com> wrote:

[2015-11-16 17:45] basicallydan commented on #61
I agree.

As much as I dislike bower too I guess it is still quite popular. What
would you say to a requirement for *either* bower or NPM in a JS project?
And if they have both use rules for both.
On 16 Nov 2015 18:56, "Mordechai Zuber" <notifications@github.com> wrote:

[2015-11-16 17:45] basicallydan commented on #36
Cool sounds good thanks for closing :thumbsup:
On 16 Nov 2015 18:53, "Mordechai Zuber" <notifications@github.com> wrote:

[2015-11-17 05:41] M-Zuber commented on #62
There definitely exists a class of a projects with architecture that uses mixes of different technology / languages  (eg. front-end vs back-end).
Running the linter multiple times sounds good to me.

I propose the following behavior:
- The user picks a language (maybe multiple?) ==> we lint only by the users choice
- No language is picked ==> for every language in the project that we have a linter

[2015-11-17 05:42] M-Zuber commented on #61
I am not quite sure what you mean

[2015-11-22 07:19] basicallydan commented on #61
So, let's say we have a "JavaScript" based project to replace "NodeJS". At the moment the requirement is a `package.json` file, for a "NodeJS" project but we could change the requirement to be either `package.json` or `bower.json`. See what I mean?

[2015-11-22 07:21] basicallydan commented on #61
Ah but there's more...

If they have a `package.json` we can start applying rules like "No node_modules folder" which would not apply if `bower.json` is there instead. Conversely, if they have a `bower.json` file, then "No bower_components folder" could be a requirement.

This would all mean introducing two new concepts:

* OR-based rules
* Conditional rules (which would be sort of sub-rules)

[2015-11-22 07:31] M-Zuber commented on #61
And if the project has both?
Or uses something like `aurelia`?

I think I've opened up pandoras box :scream: :cold_sweat: :astonished:
Removed `help-wanted` label until stuff is clarified.

[2015-11-22 07:36] basicallydan commented on #62
@M-Zuber So for the first behaviour, I think we definitely would want the user to pick multiple languages. The complexity of user options should end there for now, probably.

I actually think I "implemented" multiple-language support before but it seems like I did it wrong. It doesn't work!

For instance:

[code]

This should work. I'll write some tests to figure out why it's not working, fix it,

[2015-11-22 07:37] M-Zuber commented on #61
This one at least is someone easy. It doesn't require `OR-based` rules.
It should be enough to have conditional rules - in which case it should just work seamlessly even if a project only has one.

ex. for conditional rules:
[code]

Don't have any great ideas on how to prevent the dependent rules from running - maybe store them in another object other then `files`?

[2015-11-22 07:45] M-Zuber commented on #62
Either check-boxes or a select with the multiple attribute set.

Do we make any changes to the list based on an answer from the `GitHub` api?
or just show languages we have linters for?
and if the user chooses something irrelevant to their project we don't really care
(I actually think we might want this option as it might be useful for users that have a project in a language we don't officially s

[2015-11-22 07:50] basicallydan commented on #62
Oh yeah a select box with multiple! Fuck yeah, I forgot what our audience is.

We do actually check at one point what languages the repo contains. Check out [these lines](https://github.com/basicallydan/forkability/blob/master/lib/app.js#L100-L107), which are really just there to determine whether there's any code in the repo or not.

As an aside, I'm curious which open-source contribution events

[2015-11-22 08:02] basicallydan commented on #61
Hahah! No it's all godo! I think we just want to support both at the same time. If it's a node *and* bower project (as disgusting as that is to me), then requirements for both should be respected.

As for your suggestion on the structure... we could either embed the rule within the rule like:

[code]

But this could easily get out of hand if we start putting dependents of dependents. Easier to bui

[2015-11-22 13:05] basicallydan commented on #62
Okay fixed it. Currently publishing to NPM. Version 0.16.1. Sorry I didn't PR this, just forgot! Publishing is taking an awfully long time though. I suspect the airport WIFI is finding this whole experience a little odd.

[2015-11-22 13:08] basicallydan commented on #62
Alright done! Lookit: http://basicallydan.github.io/forkability/?u=basicallydan&r=forkability&l=nodejs,python

It fails because Python!

If you're happy with this, go ahead and close. I gotta get on a plane :airplane: :baggage_claim:

[2015-11-22 13:28] M-Zuber commented on #62
Have a safe flight.
I'll try and eyeball it tonight

[2015-11-23 07:23] M-Zuber commented on #62
I updated the tests #63

Sorry for doing on the main repo, i only realized when I went to make the PR

[2015-11-23 07:23] #62 closed

[2015-11-25 15:09] andrew commented on #30
@basicallydan I might be able to help out with the data for this issue, I've been working on an API for https://libraries.io which will let you get version info about a given npm module, you can also find all the npm modules that reference a particular github repo as the source code for that module.

Docs here: https://libraries.io/api, let me know if there's some other data you'd like that's not

[2015-11-25 19:15] M-Zuber commented on #30
What do we gain by calling your api as opposed to npm's directly?

Other than dependencies for the repo currently being linted :wink:

[2015-11-25 19:18] M-Zuber commented on #30
Some other points:

- how do we hide apikey?
we can't leave it open due to the second point:

- how do we deal with the rate limit? @basicallydan  is 60 rpm good enough? I would hope that yes
- Assumption is that we just hard code the url somewhere? or will there be a package at some point?

Final point:
Is there a way we can get this set up in time for December? Preferably so that it will be `fir

[2015-11-30 13:56] basicallydan commented on #62
@M-Zuber No problem dude I do this sorta thing all the time. Cheers for making them better!

[2015-11-30 14:04] basicallydan commented on #30
@andrew That is helpful, thanks - but we really only need the version tags at the mo which we can get from NPM directly. Thank you though, very good of you to point this out :smile:

Given that Forkability is a browser- and Node-compatible tool it probably would be easier just to use the NPM registry.

I wonder if the NPM registry has a rate limit. @andrew do you know?

[2015-11-30 14:07] andrew commented on #30
Ah I didn't realise it was only for node projects, there's lots of useful tips for non-node projects here too.

As far as I know there's no rate limit on the npm api, or at least I haven't hit one yet

[2015-11-30 14:23] M-Zuber commented on #30
The general project is not only for node projects. Just the current focus for linting tags.

If the change discussed in #61 for the lint rules rewrite goes forward,  then we can easily add checks for other package managers.

[2015-11-30 14:32] basicallydan commented on #61
In a follow up to my one-way gitter convo:

2. This requires downloading package.json
3. Downloading package.json is a domain-specific task for JS projects only, so it should be dependent on existence of package.json
4. That sounds a lot like #61!
5. Therefore we should get #61 done first
6. Also it requires a bit more thought. I'll put further thoughts in #61

@M-Zuber suggested this as the synta

[2015-11-30 14:40] keithamus commented on #30
Using the libraries.io api might be a good idea because it abstracts away all of the package management stuff that you'd otherwise have to do. I guess the only problem with using it is the API key issue.

NPM's API is pretty easy to use and very forgiving, not sure about other package managers.

[2015-11-30 14:44] M-Zuber commented on #30
For sure once we get up to checking against multiple package managers it will be a blessing as its one api to code against. Until then we shall have to see

[2015-11-30 14:45] basicallydan commented on #30
@andrew @keithamus I see now, very good point...

If we can keep it language agnostic then yes, my whole concern mentioned in #61 would be solved somewhat.

@andrew Does libraries completely normalise the output for versions regardless of platform?

[2015-11-30 14:47] M-Zuber commented on #30
I believe the changes being discussed in #61 are still relevant irregardless of the api being spoken to.  Will try to clarify feedback on that,  there

[2015-11-30 14:50] M-Zuber commented on #61
Overall your proposal seems quite fine.
I'm understanding it as the following :
- Run these rules
  - if there are dependent rules,  run them
  - each dependant rule is in an array value where the key defines the relevant  linter

[2015-11-30 15:06] andrew commented on #30
I've not documented it but you don't actually have to pass an API key for the libraries api, the rate limit will just be based on your IP address.

@basicallydan yeah Libraries stores all libraries from every package manager in the same format, so the api is identical for everyone, some fields may have no value if the package manager doesn't support that feature.

For package managers that don't h

[2015-12-01 09:42] basicallydan commented on #30
@andrew Frickin' Bower. Always ruining everything.

Okay, cool. That sounds great actually. I doubt any user of Forkability will be doing any heavy requesting over the limit, and when we get the library to work as a web service we can use an API key on the backend. Schweet. Thanks dude.

[2015-12-01 10:17] andrew commented on #30
:+1:

[2015-12-05 11:28] piperhaywood commented on #32
I might just try to take a quick look at this as part of a 24 Pull Requests event! First time looking at an issue on an open source project... :)

[2015-12-05 17:06] basicallydan commented on #32
@piperhaywood Welcome to open source! And great, go for it. If you wanna discuss anything lengthy or overly technical feel free to do so here, its good to have a paper trail - for more quick questions which maybe don't need to be on github https://gitter.im/basicallydan/forkability is better :) me and @m-zuber often hang out there.

Also, thanks for showing an interest in contributing!

[2015-12-06 09:36] M-Zuber commented on #32
I second @basicallydan.
Welcome to the wonderful world of open source.
Happy to help out with anything you need.

p.s. feel free to ping me if you are interested in help on other projects as well

[2015-12-06 16:44] Charlotteis opened #67 "Lint for Code of Conduct"
How do we feel about adding "has a code of conduct" to the feature detection?

[2015-12-06 17:00] piperhaywood commented on #32
@basicallydan @M-Zuber Thanks very much! Got a little ways with it yesterday, I'm hoping to take a further look at it shortly and submit a PR later this week :)

[2015-12-06 18:50] M-Zuber commented on #32
Great! Thank you for the update.
If you want any feedback on the code,  even if you think it is not ready to merge,  just open a PR with [WIP] in the title

[2015-12-06 18:53] M-Zuber commented on #67
Is there a standard for the file name?

[2015-12-06 19:02] Charlotteis commented on #67
CODEOFCONDUCT / CODE-OF-CONDUCT is what I have seen

[2015-12-06 19:08] M-Zuber commented on #67
SGTM. you want to do it?

I can try and put together a first timer friendly issue, but not until tomorrow - earliest.

[2015-12-06 19:09] M-Zuber commented on #67
On mobile, so can't edit.
I meant if you don't want to do it.

[2015-12-06 19:10] Charlotteis commented on #67
I don't have the time now, but could maybe get to it Fri/Sat/Sun? :)
If you are able to prepare a first-timer-friendly issue, that'd be awesome. Thanks for your help!

[2015-12-08 02:17] basicallydan commented on #67
@Charlotteis Welcome to Forkability, good to see you! :+1: :+1: :D

Code of Conduct sounds like a good idea. It might be something we should make a flag too - let's see how it plays out, some people might think it's a bit much. I'm actually not too familiar with existing code of conduct files people use. Do you know any good examples?

I'm sorta wondering how it might be different from a CONTRIBUT

[2015-12-08 02:19] basicallydan commented on #32
:+1: to @M-Zuber's comment.

[2015-12-08 06:50] M-Zuber commented on #67
@basicallydan how do you feel about a third level of `strongly suggested`?
(although I think that should wait until #30  and related are taken care of)

As a reference here are some Code of Conducts I have bookmarked as nice examples (in my opinion at least)
- http://www.openssl.org/community/conduct.html
- https://golang.org/conduct
- https://github.com/mono/mono/blob/master/code_of_conduct.md

[2015-12-08 15:05] Charlotteis commented on #67
E.G. Chai have just added one today, using the Contributor Covenant: https://github.com/chaijs/chai/blob/master/CODE_OF_CONDUCT.md

[2015-12-08 15:06] Charlotteis commented on #67
Also, hai :)

[2015-12-08 15:49] thinkingmedia commented on #58
I implement a LICENSE detection scheme for a readme generator. It works by parsing the LICENSE file with a high accuracy. Can match licenses even if the file has been edited.

The code is implemented here:

https://github.com/thinkingmedia/readme-plus/blob/master/src/services/licenses.js

It requires a cache of LICENSE files that are used as reference:

https://github.com/thinkingmedia/readme-plus

[2015-12-08 15:53] thinkingmedia opened #68 "Check Git branch naming conventions."
Check for the use of common Git naming practices like "features/name" or "v3.3"

[2015-12-08 15:56] M-Zuber commented on #58
Please do open a pull request.
I noticed that the js code you linked to, does not exactly follow our style conventions.
If you can understand by looking at existing code -  :+1:
Otherwise I will make individual comments on the PR.

[2015-12-08 15:56] M-Zuber commented on #58
Oh,  and tests :)

[2015-12-08 15:57] M-Zuber commented on #68
I'm not so sure about this one.
I think it might be a little too individual.
@basicallydan what do you think?

[2015-12-08 17:08] thinkingmedia commented on #68
actually, that is true. feature branches can exist on the fork,  but are not required from the origin.

[2015-12-09 02:56] basicallydan commented on #68
Hey @thinkingmedia I'm afraid I agree with @M-Zuber. Sorry to burst your bubble. Thanks for the suggestion though, we do really appreciate it :+1:

[2015-12-09 02:56] #68 closed

[2015-12-09 13:21] thinkingmedia commented on #68
No problem. I can see how this would be a personal preference.

[2015-12-09 13:25] thinkingmedia opened #69 "Can't sign-in to forkability website"
I've been unable to sign-in to the website since yesterday.

http://basicallydan.github.io/forkability/

Clicking the "Sign in with Github" button in the upper right triggers an auth popup. The popup prompts to allow permission. After approval it returns back to this URL, but the popup remain open and blank.

https://basicallydan.github.io/forkability/github.html?accessToken=xxxx&tokenType=bearer&

[2015-12-09 15:34] M-Zuber commented on #69
I'll try and look at this later tonight.
Thank you for reporting it.

[2015-12-10 01:21] basicallydan commented on #69
@thinkingmedia It's because you're looking at it from `http://` - it requires `https://` since that's what the auth popup uses, otherwise it can't communicate with the original window.

Unless either of you can think of a better solution I'd propose we put an http -> https redirect on the main Forkability page.

[2015-12-10 20:21] thinkingmedia commented on #69
The logo on the page is linked to `http://`

Following links from github get redirected to `http://`

Something's not right.

[2015-12-11 08:51] basicallydan commented on #69
Okay, so we need to make sure all the links go to https rather than http.

If you to to the https version of the page though, can you confirm that
signing in is possible? I checked the error logs when using http and it is
as I said, unable to interact with the original window because its http.
On 11 Dec 2015 03:21, "Thinking Media" <notifications@github.com> wrote:

[2015-12-11 12:38] basicallydan commented on #69
@thinkingmedia

Which logo are you talking about, on https://basicallydan.github.io/forkability/ ?

That's because it's a relative link. That's something I can certainly fix.

I'm not sure about redirecting to HTTPS using JavaScript, that seems weird and a little bit much. I might disable sign-in unless you're using HTTPS and put a little message saying "If you want to sign in you need to use HTTP

[2015-12-11 12:55] basicallydan commented on #69
@thinkingmedia Can you go to the page using HTTP and try now? It should now get you to go to https before letting you even attempt to sign in.

@M-Zuber Your opinion here would be appreciated too. What do you guys think, seems like a good solution? It should wait 700ms before sending you so that the button has a chance to change to "Redirecting to HTTPS" in case you didn't get it.

Ideally if anyb

[2015-12-11 14:37] thinkingmedia commented on #69
@basicallydan Yes, if I manually go to the `https://` address the sign in works as expected.

So I've narrowed the problem down to a redirect issued by the web service. Which in this case is github and might not be in your control.

I'm able to catch 301 redirects in the network log for Chrome, but the 301's don't happen all the time. For example; if I load `https://basicallydan.github.io/forkabil

[2015-12-11 14:38] thinkingmedia commented on #69
Oh, it looks like you might have fixed the problem.

I guess you force HTTPS when the button is clicked. Anyway it appears to be working now.

Thanks!

[2015-12-11 14:39] thinkingmedia commented on #69
There are still links that take you to the none HTTP and you have to sign-in again. If the links could just be made explicate that should fix the problem.

[2015-12-11 14:40] thinkingmedia commented on #58
No, I wouldn't pull my code. I'd have to rewrite it but it shouldn't take long.

[2015-12-11 14:46] thinkingmedia opened #70 "Support installing as Grunt/Gulp tasks."
It's possible to add Grunt tasks and Gulp tasks so that this tool can be used as part of a build script or testing.

[2015-12-11 16:34] basicallydan commented on #69
Can you be more specific?
On 11 Dec 2015 21:39, "Thinking Media" <notifications@github.com> wrote:

[2015-12-12 18:00] dougaitken opened #71 "Better visibility of what forkability looks for _before_ being run"
After a glance over of the readme and the webapp, I couldn't tell what forkability looked for before running the app. I know it shows a demo output under Node Module / Command Line, but can I open a PR to have this show more prominently in the README / index page of the webapp?

[code]

[2015-12-12 18:33] M-Zuber commented on #71
Good catch.
Thank you, and please do open a PR

[2015-12-13 02:29] basicallydan commented on #71
Hi @dougaitken thanks for the issue!

Sure make a PR. However, for the command line output it's pretty high up in the readme, right under instructions. As for the web app, I don't think that same text is appropriate alongside the main form.

For the web app, I think I'd rather see an actual live example, maybe have a big-ish button which links to the Forkability result for Forkability?

Also, unde

[2015-12-13 06:02] M-Zuber commented on #71
a screenshot with a button that links to forkability for forkabilty sounds good to me

[2015-12-13 06:26] M-Zuber commented on #69
Sounds good to me :shipit:

[2015-12-22 10:26] M-Zuber opened #76 "Add shrinkwrap to the makefile"
Steps to implement:
- Fork the repo
- Update the [makefile](https://github.com/basicallydan/forkability/blob/master/makefile)
 - [ ] Add a `shrinkwrap` command with value of: `rm -rf node_modules/ npm-shrinkwrap.json && npm install && npm shrinkwrap`
 - [ ] Add `@echo "  shrinkwarp        resets the shrinkwrap.json file"` to the `help` command
- Make sure it runs, and [open a PR](https://github.co

[2015-12-22 11:02] basicallydan commented on #76
Great first timers only! You've probably already considered this but I do have a small concern.

Do we definitely want this in the `deps` task? It means whenever someone clones and runs `deps` they're potentially making a change to the repo, potentially a chance to the code and therefore potentially a change to functionality. This would defeat essentially the object of shrinkwrap - keeping the cod

[2015-12-22 11:18] M-Zuber commented on #76
:100:
I've updated the issue accordingly.
We need to update the documentation to include a mention of the makefile btw

[2015-12-22 16:16] basicallydan commented on #76
Yeah you're right we do. I can do that quickly no prob!

Good update - I can get fully behind this! :)

[2015-12-22 16:36] basicallydan commented on #70
@thinkingmedia Sorry this took so long to reply to. Massively not cool.

So - yes, that would be a good idea. We should do that. Do you know where to start with that/would you be interested in taking up the task?

[2015-12-22 16:39] basicallydan commented on #69
So I think this is all OK now. @thinkingmedia are you satisfied with the solution I went with?

[2015-12-22 16:48] thinkingmedia commented on #70
@basicallydan yes, I can do a pull request for Grunt support.

I picture something like this running as a lint task. Have you ever used jslint?

https://github.com/douglascrockford/JSLint

[2015-12-22 16:51] thinkingmedia commented on #69
Yes the website is usable, but the after you've tested a repo and you see the result page. Clicking the "Try another" link redirects back to the non-HTTPS page.

I'm thinking this is a bigger issue and should be sent to Github as a support request. See what the official word is on HTTPS support.

[2015-12-22 17:02] thinkingmedia commented on #70
@basicallydan

To run as a grunt task the forkability report needs to be generated using the current working directory. Is that possible? Looking at the `index.js` it appears setup to use the Github API only.

To be a grunt task it needs to generate the report on the folder before changes are pushed to Github.

Is this possible?

[2015-12-22 17:14] basicallydan commented on #69
That's a good idea. I'll do that.
On 22 Dec 2015 16:51, "Thinking Media" <notifications@github.com> wrote:

[2015-12-22 18:57] M-Zuber commented on #70
Hmm. This is intriguing, but would probably require a decently heavy rewrite of internals- or adding a new api that works on  local files.
Will add more feedback in the morning

[2015-12-23 10:25] Charlotteis commented on #76
Hello! Gonna twoot bout this from @youfirstpr today! Thanks so much for making things.

[2015-12-23 10:26] M-Zuber commented on #76
Thank you. What time are you tweeting as I may have some more for you :wink:

[2015-12-23 10:30] Charlotteis commented on #76
I only do one a day, but as my next one would be on Christmas day I could do a bonus round. Tweets usually go out at 1PM :)

[2015-12-23 10:31] M-Zuber commented on #76
I will try and have it ready by then :)

[2015-12-23 10:38] basicallydan commented on #76
Ahhhh so much activity. I will find a coffee shop and try to help :P
On 23 Dec 2015 10:31, "Mordechai Zuber" <notifications@github.com> wrote:

[2015-12-23 11:22] M-Zuber opened #79 "Test for Code of Conduct"
Steps to implement:
- Fork the repo
- Run `git checkout code-of-conduct` to make sure you are on the correct branch
- Run `make deps` or `npm install` if you do not have make installed
- Run `npm test` and watch tests fail
- Add `'Code of Conduct':/^CODEOFCONDUCT|CODE-OF-CONDUCT|CODE_OF_CONDUCT/i,` to the  `files` object in `./lib/lintFiles.js`

Some tests will also need to be updated:
- [helper.m

[2015-12-23 11:22] M-Zuber commented on #67
@Charlotteis see #79

[2015-12-23 11:24] basicallydan commented on #70
I'm afraid that this wouldn't totally work. When using the directory we'd have to compromise on functionality. Forkability would still support:

* Linting of files
* Tags
* Issues
* The ignore file

But it wouldn't support:

* Issues
* Pull requests

I'm not saying that wouldn't be helpful, but it would mean essentially a "cut-down" configuration of Forkability.

And as @M-Zuber said, it would als

[2015-12-23 11:30] basicallydan commented on #79
Amazing issue :100: You even made a `code-of-conduct` branch! What a pro.

[2015-12-23 11:32] M-Zuber commented on #70
Great write up.
I was thinking of initially simply creating two modules: one that encapsulates the current functionality, and the other that works over a local directory.

Then the refactor can be very simple:
- Add a flag to lint a local directory
- If it was not sent, just lint using the github api.

As far as code reuse goes, that can even be done at a later date.
Such a structure may also enab

[2015-12-23 11:38] basicallydan commented on #70
@M-Zuber Yep, sounds like we're on the same page.

So for the gulp/grunt tasks it'd use the flag.

We might need a few modules though. One for looking at files and one for getting the tags from the `.git` directory. Having said that, do you know @M-Zuber if it's possible that not all the tags will be brought over when cloning the repo?

[2015-12-23 11:40] basicallydan commented on #70
Also, if we're gonna do this let's make two more issues: One for creating a local directory structure retriever which has a function to produce the data in the appropriate format, and one for a module to retrieve tags.

@M-Zuber We agreed this is a good idea?!

[2015-12-23 11:40] Charlotteis commented on #79
:clap: :clap:

[2015-12-23 11:40] andrew commented on #79
FYI The "fork the repo" link goes to the new issue form

[2015-12-23 11:40] M-Zuber commented on #70
Great idea! :shipit:
re tags not being brought over, I have no idea but will tweet some people

[2015-12-23 11:45] M-Zuber commented on #79
It seems that I do not have a way to make that link work, so I am removing it :disappointed:

[2015-12-23 11:52] basicallydan opened #80 "Module for reading a local directory and producing a structure in lintFiles-compatible format"
In order to do #70 we need to produce a module which can open up a directory and produce an object which represents the directory structure in a format which the `lintFiles.js` module expects.

This is in order to remove the need to have access to GitHub to get the file structure.

[2015-12-23 11:53] basicallydan opened #81 "Module for getting a list of tags from a local git repository."
In order to do #70 we need to produce a module which can open up a git repo directory and produce a list of tags in a format which `lintTags.js` will understand.

This is in order to remove the need to have access to GitHub to get the tags.

#copypastaissue

[2015-12-23 15:39] thinkingmedia commented on #70
I think this just grew in complexity beyond what I can do at this stage, but having written many grunt tasks. I'd be happy to help add the grunt support when you're ready.

[2015-12-23 17:02] ExcaliburZero opened #82 "Remove case-sensitivity from language input"
Recently I was trying to use forkability to analyze a project that was written in Python, such that I would recieve the Python specific suggestions.

When I was entering the project's information on the [web app](http://basicallydan.github.io/forkability/), I inputted the language for the project as "python" with the first letter lowercase and it gave the Python requirements (ex. setup.py file). H

[2015-12-23 17:09] M-Zuber commented on #82
It probably can be done.
Would you be interested in doing it?
I am guessing if you lowercase things [here](https://github.com/basicallydan/forkability/blob/master/lib/app.js#L55) it should be enough

[2015-12-23 19:16] ExcaliburZero commented on #82
@M-Zuber
Okay, I've cloned the repository and made changed the line you noted so that the language string should be converted to be all lowercase before it is checked if that language exists yet.

However, when I try running it with `make serve`, the application works, but it still seems to be case sensitive for the languages.

Here is the commit I tried: https://github.com/ExcaliburZero/forkabili

[2015-12-23 20:21] M-Zuber commented on #82
I left you a comment @ that commit.
You might want to consider adding some tests :wink:

[2015-12-23 20:53] ExcaliburZero commented on #82
Okay, I have changed the lowercased language name to be a local variable and replaced the instances of `options.languages[i]` with the new variable.

https://github.com/ExcaliburZero/forkability/commit/af027436ed6857ed05cfdf019eedfaa49c889a40

I don't know much about the unit testing system that this project uses, but I copied and modified one of the existing tests so that it should test upercased

[2015-12-23 21:00] M-Zuber commented on #82
The test and implementation look great!
As far as running the system, I have not really worked on the web side that much, but I believe running `make compile` before `make serve` should be enough.

Thank you for all the effort you are putting into this.

[2015-12-23 21:28] ExcaliburZero commented on #82
I attempted run `make compile`, however I am getting some errors when doing so.

[code]

I figured that the errors were just due to me having not installed `browserify` and `uglifyjs` through npm, so I installed those two modules. However after running `make compile` again I still had the same errors.

I looked into the error a bit and found that I might be able to get the compile makescript to wo

[2015-12-23 21:50] M-Zuber commented on #82
Okay I will have to look into this some more, but in the morning - it's 23:50 by me.

[2015-12-24 09:30] M-Zuber commented on #82
Disclaimer: I am aware of the date,  but if I don't write now I will forget. Happy holidays!
From what I can tell,  the Web page looks at the .edge.js file - which is not created by make compile.
So for testing purposes I suggest changing the file loaded in index.html.
@basicallydan can correct me if I'm wrong - either way this process needs to be clarified /documented.

[2015-12-24 17:48] Charlotteis commented on #79
I'd quite like to do this myself if there are no takers? Being the Christmas period and all. Not sure if this was for complete beginners or those just new to to the forkability project? :D

[2015-12-24 18:08] Charlotteis commented on #79
I gave it a go and there were a couple errors in your write up:

`Add report.passes.should.containEql({ message: '.gitignore file' });` should be `Add report.passes.should.containEql({ message: 'Code of Conduct' });

`'should include a success badge if >= 90% of the items are successes'` on the last line should be `should allow multiple languages to be used for linting - all languages pass`.

PR i

[2015-12-24 18:15] Charlotteis commented on #79
Also need to note that a newcomer cant push to the code-of-conduct branch and actually has to fork this repo, checkout a branch from the code-of-conduct branch and then do their code. :sparkles:

[2015-12-24 18:39] M-Zuber commented on #79
I'll answer in order that you wrote :
For me first timers only usually means new to OSS, but in the Christmas spirit and since you where the catalyst for it,  have fun.

Thank you for the catch of the errors in the write up. Such is the way of the copy and paste.

I thought the first step being "fork the repo" was good enough, but the matter has been noted for further issues. Would you say it is b

[2015-12-24 18:45] #79 closed

[2015-12-24 18:45] M-Zuber commented on #67
closed with #84
Thank you @Charlotteis for your work

[2015-12-24 18:45] #67 closed

[2015-12-24 20:59] Charlotteis commented on #79
You know the "fork" part is my bad, I didn't see it for some reason. D:
I think what you put was fine.

[2015-12-24 20:59] Charlotteis commented on #79
Just to elaborate on "first timers only"
For me, it's both new to the project and "new to OSS". Either is fine with me, just thought'd I'd make it clear that when yourfirstpr tweets its with the open that all sorts of people will come and contribute :)

[2015-12-24 21:07] M-Zuber commented on #79
Yeah,
I definitely wouldn't ask someone if they have ever contributed before.
The way I see it the first timer status is a matter of a comfort level not PR count :D
Thanks again for the contribution and for the work you put into yourfirstpr.
Going to sleep now. See ya'll after the weekend

[2015-12-25 08:00] basicallydan commented on #82
@M-Zuber @ExcaliburZero Hey guys!

So, first off - great issue and well spotted. Thanks for working on this.

`make compile` should generate the `.edge.js` file by default as well as `.edge.min.js` - that's basically just meant to be the very latest code. If you specify `ENV version=0.18` beforehand it'll generate a versioned compiled Forkability. I usually do both of these things before pushing f

[2015-12-25 08:01] basicallydan commented on #76
Thank you @Charlotteis for the ol' tweetage :)

[2015-12-25 08:02] basicallydan commented on #70
@thinkingmedia Cool - that's totally reasonable, thank you.

[2015-12-27 15:09] M-Zuber commented on #10
So what is going on with this?

[2015-12-27 15:14] M-Zuber commented on #41
I have thought about this a bunch more and have come to the conclusion that `gitignore` linting can only be based off the gitignore currently in the repository.
Makes this a much simpler change of simply adding a step that reads the file if it exists and then parses each line and matches it against the contents.

Most of the rules are simple regex matching. The ones that are not are simple enough

[2015-12-27 15:16] M-Zuber commented on #40
@matiassingers are you interested in making the PR for this?

[2015-12-27 15:17] M-Zuber commented on #32
Hello @piperhaywood,
Just checking in. I am aware that there is such a thing as life, so please do not feel pressured.

[2015-12-27 15:30] basicallydan commented on #10
@M-Zuber Let's get rid of it for now. My ambition was for GetAPI to be a simple key/value store and Forkability could use it for that, but I haven't gotten round to it because life got in the way. I'll resuscitate it once I've made some progress with GetAPI :)

[2015-12-27 15:30] #10 closed

[2015-12-27 15:36] basicallydan commented on #41
@M-Zuber Yes, you're making sense. However, I think using the file already in the repo will solve a different problem than the one being discussed previously in this thread. Let me refer to something I said earlier:

The `.gitignore` in the repository already does the job of ensuring that you don't commit stuff that you shouldn't commit.

Forkability could still help here by warning people that a

[2015-12-27 20:50] M-Zuber commented on #41
You do make sense(or more culturally accurate pence :stuck_out_tongue: ), **but**
I have started to have second thoughts about this whole premise.
If a project depends on a global `.gitignore` and it is not checked into the repo, that is a major smell :hankey:
On the other hand there is still something to add in this area - namely projects where a `.gitignore` was added in after development starte

[2016-01-02 11:54] Charlotteis commented on #76
Think this can be closed now :)

[2016-01-02 17:48] basicallydan commented on #76
Yes! Thanks Charlotte!

See you some time at some event in London I hope!
On 2 Jan 2016 11:54, "Charlotte Spencer" <notifications@github.com> wrote:

[2016-01-03 16:21] M-Zuber commented on #76
So it should be closed then? :stuck_out_tongue_closed_eyes:

[2016-01-03 16:21] #76 closed

[2016-01-03 17:59] basicallydan commented on #76
Haha sorry I thought Charlotte had closed it too!

--Dan
danhough.com <http://www.danhough.com> - @basicallydan
<http://twitter.com/basicallydan>

On 3 January 2016 at 16:21, Mordechai Zuber <notifications@github.com>
wrote:

[2016-01-03 18:37] Charlotteis commented on #76
I don't have those permissions!

[2016-01-05 02:38] ExcaliburZero commented on #82
I think I may just have something wrong with the way I'm testing out the changes I made (issues compiling changed source).

@basicallydan
Could you take a look at my fork and test it on your end to see if it works?

[2016-01-05 07:40] basicallydan commented on #82
Hey Christopher - yes I can do that. Gimme a few hours, a day max, and I'll
get back to you.
On 5 Jan 2016 02:38, "Christopher Wells" <notifications@github.com> wrote:

[2016-01-06 10:38] basicallydan commented on #82
@ExcaliburZero Looking at this now :)

[2016-01-06 12:15] basicallydan commented on #82
@ExcaliburZero I can't see any problems with the web app in terms of errors. I was able to do a simple `make compile` to compile a new version of `forkability.edge.js`.

As well as that, the changes you made seem to work just fine. Can you describe to me the process you took to test it on the forkability web app, again? did you use `make compile`?

[2016-01-06 14:51] piperhaywood commented on #32
Thanks for checking in! I've been visiting my folks in the states for
the holidays and have been pretty lax with projects and such. Will try
to take a look when I'm back!

- - -
Piper Haywood
+44 (0)7522 542616
piperhaywood.com
sbphstudio.com

On 27/12/2015 09:17, Mordechai Zuber wrote:

[2016-01-06 15:05] basicallydan commented on #32
@piperhaywood No problem, I've been in almost exactly the same position. Hope you had a good break :+1:

[2016-01-06 15:25] M-Zuber commented on #32
Have fun!!

[2016-01-06 20:09] ExcaliburZero commented on #82
Here is the process I am trying to be able to see the changes in the local run of the web app:

* Use Git to checkout the branch that has the changes.
* Go to the main directory of the project.
* Run `make compile`
* The following error is then outputted:
[code]

[2016-01-21 10:58] M-Zuber commented on #82
Ok, so after some playing around and searching I have the following conclusions:
browserify (and most probably uglifyjs) need to be installed globally to work.

I would like to commit a change to the make file that will simply try to install them before compiling.
This should work in almost (if not all) all scenarios.
@basicallydan  what say you?

[2016-01-24 20:31] M-Zuber commented on #82
@ExcaliburZero once #89 is merged, update your fork from this repository and things should work.

[2016-01-25 01:49] ExcaliburZero commented on #82
I have updated my fork and feature branch with the latest changes to the upstream repo, and ran `make` to install the dependencies. However, when I ran `make test` the test that I setup for testing uppercase names failed with the message `Error: timeout of 2000ms exceeded. Ensure the done() callback is being called in this test.`

Then when running `make compile` and then `make serve` inputting an

[2016-01-25 16:05] M-Zuber commented on #82
Can you open a PR from that branch?  It will make it easier to give feedback on specific items.

In the meantime your test was failing because it was missing
[code]
in the file set of the mock,
After adding that, the passes length should be equal to 14 and not 13

[2016-01-25 16:22] M-Zuber commented on #82
Can you also update the Makefile to have quotes like so:
[code]
On windows it only works with the quotes, but I am not sure about other OS
So if it works, I would prefer it to be setup for crossplat

[2016-01-25 16:35] basicallydan commented on #82
@M-Zuber Ack, sorry about that. My unix-centric worldview has tainted my former Windows-centric worldview. :disappointed:

[2016-01-25 18:12] ExcaliburZero commented on #82
I opened a pull request with the changes I put together at #90.

[2016-01-25 18:49] M-Zuber commented on #82
I make the PR?

[2016-01-25 19:10] M-Zuber commented on #82
@ExcaliburZero thank you

[2016-01-25 20:32] #82 closed

[2016-01-30 13:50] hughrawlinson opened #94 "Looking in GitHub Wiki"
I have a repo that uses the Wiki for contributing guidelines and the code of conduct. These are pointed both pointed to from a dedicated section in the readme, so it seems to me that they're visible enough to potential contributors.

Would it be worth considering adding support for looking for these documents in repos wikis?

[2016-01-31 08:05] M-Zuber commented on #94
There is no API for looking at wikis unfortunately.

But maybe something like #58?

[2016-02-22 15:29] basicallydan opened #95 "New GitHub Template support"
GitHub has implemented some features requested by the community for issue and PR templates. It might be a nice idea to support this in Forkability!

https://github.com/blog/2111-issue-and-pull-request-templates

@M-Zuber any thoughts?

[2016-02-22 15:32] M-Zuber commented on #95
To check for it?
Off the top of my head I am not so sure about that, as it is more a tool for maintainers.
Someone coming into a project might not care that much if a template is provided.

OTH if there was a third category of `Suggested` I would say it should for sure be included.

[2016-02-22 15:37] basicallydan commented on #95
@M-Zuber Hm. there used to be a warnings section. Not sure why/how I got rid of it.

I'd argue for its inclusion, though, as Forkability isn't just for people coming into a project though: it's helpful for maintainers to know that their repo is accessible, and by providing a template it's more accessible to people.

Having said that, the "required items" list is getting rather large so I'd agree t

[2016-02-22 15:40] M-Zuber commented on #95
:+1:
I'm getting settled into a new job, so it will be a few days yet before I can make any solid contributions - whether code or writing up an issue - though.

[2016-02-22 16:38] basicallydan commented on #95
No worries man, just wanted to make sure I wrote it down and got your opinion!

[2016-02-24 16:23] basicallydan commented on #95
@M-Zuber By the way congrats on your new job!

[2016-02-24 16:28] M-Zuber commented on #95
Thank you 😊

[2016-10-14 07:09] #40 closed

[2016-10-14 10:07] basicallydan commented on #40
Thanks for closing @M-Zuber. :)

[2017-01-21 18:47] hughrawlinson commented on #94
Yeah, it'd require [cloning the wiki repository](https://help.github.com/articles/adding-and-editing-wiki-pages-locally/). Probably best to just use standard files 😄

[2017-01-21 18:47] #94 closed

[2017-02-22 19:19] spences10 opened #98 "Sign in with GitHub not working"
Hi,

Can't seem so sign in with GitHub, I tried on Chrome 50, Chrome 56 and on my Android phone, none of them work.

![forkability](https://cloud.githubusercontent.com/assets/234708/23228195/982e6334-f933-11e6-8d16-10f0d3476995.gif)

[2017-02-22 22:34] basicallydan commented on #98
Hi,

Thanks for opening an issue! It's probably an SSL thing, is the browser
giving you any SSL errors?

On 23 Feb 2017 04:19, "Scott Spence" <notifications@github.com> wrote:

[2017-02-23 09:24] spences10 commented on #98
This is the console output when I try from Chrome 50

The only other browser I can test on is IE11 :grimacing:

![image](https://cloud.githubusercontent.com/assets/234708/23252663/9199c89e-f9a9-11e6-98c2-18153cd8b7ed.png)

[2017-02-24 01:27] basicallydan commented on #98
Yep, defo an SSL cert error! I'll get this sorted ASAP. Currently in an
airport lounge in Japan so I can't promise anything but it should be
straightforward. Thanks for reporting :) I'll let you know when I'm done!

--Dan
danhough.com <http://www.danhough.com> - @basicallydan
<http://twitter.com/basicallydan>

On 23 February 2017 at 18:24, Scott Spence <notifications@github.com> wrote:

[2017-02-24 01:31] basicallydan commented on #98
Ah no - it's not *quite* an SSL error after all. It's the site I use for
oauth, which I also manage - I'll just make sure it's running.

--Dan
danhough.com <http://www.danhough.com> - @basicallydan
<http://twitter.com/basicallydan>

On 24 February 2017 at 10:27, Dan Hough <daniel.hough@gmail.com> wrote:

[2017-06-22 11:23] spences10 commented on #98
Closing this, doesn't seem to be being maintained any more

[2017-06-22 11:23] #98 closed, assigned to nobody

[2017-06-22 11:38] basicallydan commented on #98
Sorry Scott, I'd like to but haven't found time to sort it!

On 22 Jun 2017 12:23, "Scott Spence" <notifications@github.com> wrote:

[2017-06-22 11:45] spences10 commented on #98
Hey @basicallydan feel free to open your own issue to resolve it, I'm no longer interested in it being resolved.

Many thanks :+1:

[2017-06-22 14:53] basicallydan commented on #98
Cool, cheers Scott :)

--Dan
danhough.com <http://www.danhough.com> - @basicallydan
<http://twitter.com/basicallydan>

On 22 June 2017 at 12:45, Scott Spence <notifications@github.com> wrote:

[2018-06-05 13:45] davidak opened #99 "website login issue"
Nothing happens when clicking on the login button.

Loading of https://getapi.co/scripts/github.js fails, **404**.

JS Console error:
[code]

When the page is loaded, this errors appear:
[code]

Maybe related to https://github.com/basicallydan/forkability/issues/69

---

Chromium 57.0.2987.98, running on Debian 8.10 (64-bit)

[2018-06-14 15:32] tripu commented on #99
Same here.
[`http://getapi.co`](http://getapi.co/) is AWOL right now; see [the last snapshot here](https://web.archive.org/web/20161018132000/http://getapi.co).

[2018-06-14 15:56] basicallydan commented on #99
Hey @davidak and @tripu! Sorry but yeah, it's down - I'm not really on top of my OS projects at the moment, I'll have to do something about it when I can, life is quite busy right now. In the mean time you should still be able to use the CLI.